@model IEnumerable<My_Shop.Core.Models.OrderItem>
    <table class="table">
        <tr>

            <th>Name</th>
            <th>Price</th>
            <th>QTY</th>
            <th>Line Order</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.Raw(item.Product.Name)
                </td>
                <td>
                    @Html.Raw(item.Product.Price)
                </td>
                <td>
                    @*@Html.Raw(item.Qa)*@
                </td>
                <td>
                    @String.Format("{0:c}", item.Product.Price)
                </td>
            </tr>
        }

        <tr>
            <td colspan="3" style="text-align:right">
                <strong>Order Total</strong>
            </td>
            <td>
                @String.Format("{0:c}", (from p in Model select p.Product.Price).Sum())
            </td>
        </tr>

    </table>
